.acf-vcard--map-container {
	position: relative;
	margin-left: -10px;
	border-top: 1px solid #E8E8E8;
	margin-top: 15px;
	margin-bottom: -15px; 
}

.acf-vcard--map {
}

.acf-vcard--map-container input {
	display: none;
}

.acf-vcard--find-address {
	position: absolute;
	bottom: 10px;
	left: 10px;
}